body{
  background-color:#55b4d7;
  background-image: url(./img/clck.jpg);
  background-size: cover;
  margin:0;
  padding:0;
  text-align:center;
  align-items:center;
  font-size:12px;
  display:flex;
  flex:1;
  min-height:100vh;
}
.clock {
  /* creating clock circle */
  width: 30rem;
  height: 30rem;
  border:20px solid #FFF;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  /* shadow for clock circle */
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
  }
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
  }
/* creating hand for hours, minutes, seconds */
.hand {
  width:50%;
  height:8px;
  background:#8c0000;
  position: absolute;
  top:50%;
  /* rotating for hands */
  transform-origin:100%;
  transform: rotate(90deg);
  /* clock ticking */
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand{
  height:12px;
  background:#500707;
}
.sec-hand{
  height:5px;
  background:#d12424;
}
